@import '../Variaveis/variaveis';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E5 100%);
    padding: 0 1rem;
}




